@using DB_Controller.Controllers;
@model DateTimeFormViewModel
@{
    ViewData["Title"] = "InfluxDB Data";
}

<div class="container mt-5">
    <h2>Date Time Form</h2>
    <form asp-controller="Read" asp-action="ReadData" method="post">
        <div class="form-group">
            <label for="startDate">Start Date:</label>
            <input type="datetime-local" class="form-control" id="startDate" name="StartDate" value="@Model.StartDate.ToString("yyyy-MM-ddTHH:mm")" required />
        </div>
        <div class="form-group">
            <label for="endDate">End Date:</label>
            <input type="datetime-local" class="form-control" id="endDate" name="EndDate" value="@Model.EndDate.ToString("yyyy-MM-ddTHH:mm")" required />
        </div>
        <div class="form-group">
            <label for="Author">Author:</label>
            <input type="text" class="form-control" id="Author" name="Author" />
        </div>
        <div class="form-group">
            <label for="LogicD1">Logic D1:</label>
            <select id="LogicD1" name="LogicD1" class="form-control">
                <option value="and">AND</option>
                <option value="or" selected="selected">OR</option>
            </select>
        </div>
        <div class="form-group">
            <label for="D1">D1:</label>
            <input type="text" class="form-control" id="D1" name="D1" />
        </div>
        <div class="form-group">
            <label for="LogicD2">Logic D2:</label>
            <select id="LogicD2" name="LogicD2" class="form-control">
                <option value="and">AND</option>
                <option value="or" selected="selected">OR</option>
            </select>
        </div>
        <div class="form-group">
            <label for="D2">D2:</label>
            <input type="text" class="form-control" id="D2" name="D2" />
        </div>
        <div class="form-group">
            <label for="LogicD3">Logic D3:</label>
            <select id="LogicD3" name="LogicD3" class="form-control">
                <option value="and">AND</option>
                <option value="or" selected="selected">OR</option>
            </select>
        </div>
        <div class="form-group">
            <label for="D3">D3:</label>
            <input type="text" class="form-control" id="D3" name="D3" />
        </div>
        <div class="form-group">
            <label for="LogicD4">Logic D4:</label>
            <select id="LogicD4" name="LogicD4" class="form-control">
                <option value="and">AND</option>
                <option value="or" selected="selected">OR</option>
            </select>
        </div>
        <div class="form-group">
            <label for="D4">D4:</label>
            <input type="text" class="form-control" id="D4" name="D4" />
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

@if (Model.RecordsFlux != null || Model.RecordsTimescale != null) {
    <div class="text-center">
        <h1 class="display-4">Influx DB Data</h1>
        <h2>Radek: @Model.Count</h2>
        <table class="table">
            <thead>
                <tr>
                    @if (Model.Db == DbController.INFLUX_DB)
                {
                    <td>Result</td>
                    <td>Table</td>
                    <td>Start</td>
                    <td>Stop</td>
                    <td>Time</td>
                    <td>Value</td>
                    <td>Autor</td>
                    <td>D1</td>
                    <td>D2</td>
                    <td>D3</td>
                    <td>D4</td>
                    <td>Field</td>
                }
                else
                {
                    <td>Time</td>
                    <td>Author</td>
                    <td>D1</td>
                    <td>D2</td>
                    <td>D3</td>
                    <td>D4</td>
                    <td>Value</td>
                    <td>Corrected value</td>
                }
                </tr>
            </thead>


            @if (Model.Db == DbController.INFLUX_DB)
            {
                @foreach (var record in Model.RecordsFlux) 
                {
                    <tr>
                        @foreach (var temp in record.Values)
                        {
                            <td>@temp.Value</td>
                        }
                    </tr>
                }
            }
            else
            {
                @foreach (var record in Model.RecordsTimescale) {
                    <tr>
                        <td>@record.Timestamp</td>
                        <td>@record.Author</td>
                        <td>@record.D1</td>
                        <td>@record.D2</td>
                        <td>@record.D3</td>
                        <td>@record.D4</td>
                        <td>@record.Value</td>
                        <td>@record.Corrected_value</td>
                    </tr>
                }
            }

        </table>
    </div>
}


<script>
$(document).ready(function () {

    @if (TempData.ContainsKey("success"))
    {
        var message = TempData["success"];
        var messageType = "success";
        <text>showPopUpMessage("@message", "@messageType");</text>
    }
});
</script>
